@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body{
    margin: 0 0 0 0;
    background-color: white;
}

.header{
    height: 39.2;
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:99;
    background:rgba(0, 0, 0, 0.85);
}

.navBar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
}

.navBar a{
    text-decoration: none;
    margin-right: 35px;
    color: #f5f5f7;
    opacity: .8;
    font-family: serif;
    height: 40px;
    transition: ease-in 0.2s;
    font-size: 13px;
}

.navBar a:hover{
    opacity: 1;
}

.MacBook-background{
    background-color: black;
    padding-top: 55px;
    cursor: pointer;
}

.MacBook{
    color: white;
    background-image: url(Images/macbook.png);
    height: 650px;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    margin-bottom: 13px;
}

.MacBook h1{
    color: #f5f5f7;
    opacity: .95;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0;
}

.MacBook h2{
    color: #f5f5f7;
    opacity: .95;
    margin-top: 10px;
}

.Macbook-text h3{
    opacity: 0.35;
}

.Macbook-link1{
    margin-right: 35px;
}

.MacBook span a{
    color: #2997ff;
    text-decoration: none;
    font-size: 18px;
}

.MacBook span a:hover{
    text-decoration: underline;
}

.Mac-mini-background{
    background-color: black;
    height: 650px;
    background-image: url(Images/Mac-mini.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
    cursor: pointer;
}

.Mac-mini-text{
    text-align: center;
    height: 200px;
    margin-top: 50px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Mac-mini-text h1,h2,h3{
    color: #f5f5f7;
    margin-top: 0;
}

.Mac-mini-text h1{
    color: #f5f5f7;
    opacity: .95;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0;
}

.Mac-mini-text h2{
    color: #f5f5f7;
    opacity: .95;
}

.Mac-mini-text h3{
    color: #f5f5f7;
    opacity: 0.35;
}

.Mac-mini-link1{
    margin-right: 35px;
}

.Mac-mini-text span a{
    text-decoration: none;
    color: #2997ff;
    font-size: 18px;
}

.Mac-mini-text span a:hover{
    text-decoration: underline;
}

.iPhone-background{
    height: 675px;
    background-color: #fbfbfd;
    margin-bottom: 13px;
    background-image: url(Images/iPhone-background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.iPhone-text{
    text-align: center;
    height: 200px;
    margin-top: 30px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.iPhone-text h1{
    color: #1d1d1f;
    margin-bottom: 5px;
    font-size: 50px;
}

.iPhone-text h2{
    color: #1d1d1f;
    font-size: 39x;
}

.iPhone-text span a{
    text-decoration: none;
    color: #06c;
    font-size: 20px;
}

.iPhone-text span a:hover{
    text-decoration: underline;
}

.iPhone-link1{
    margin-right: 35px;
}

.container1{
    height: 610px;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.black-unity{
    height: 610px;
    width: 694.5px;
    background-image: url(Images/black-unity.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.black-unity-text{
    text-align: center;
    margin-top: 40px;
    font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.black-unity-text h1,h4{
    color: #f5f5f7;
    margin-top: 0px;
    margin-bottom: 5px;
}

.black-unity-text h1{
    font-size: 40px;
}

.black-unity-text h4{
    font-size: 18px;
    margin-bottom: 10px;
}

.black-unity-text span a{
    text-decoration: none;
    color: #2997ff;
    font-size: 16px;
}

.black-unity-text span a:hover{
    text-decoration: underline;
}

.black-unity-link1{
    margin-right: 24px;
}

.apple-watch{
    height: 610px;
    width: 694.5px;
    background-image: url(Images/apple-watch.jpg);
    margin-left: 13px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.apple-watch-text{
    text-align: center;
    margin-top: 70px;
}

.apple-watch-text h2{
    font-size: 22px;
    margin-bottom: 10px;
}

.apple-watch-text span a{
    text-decoration: none;
    color: #2997ff;
    font-size: 17px;
}

.apple-watch-text span a:hover{
    text-decoration: underline;
}

.apple-watch-link1{
    margin-right: 24px;
}

.apple-watch-text img{
    object-fit: cover;
    height: 9%;
    margin-bottom: 10px;
}

.container2{
    height: 610px;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.iPhone-pro{
    height: 610px;
    width: 694.5px;
    background-image: url(Images/iPhone-pro-bg.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.apple-watch-ultra{
    height: 610px;
    width: 694.5px;
    background-image: url(Images/apple-watch-ultra-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fbfbfd;
    background-size: contain;
    display: flex;
    justify-content: center;
    margin-left: 13px;
    cursor: pointer;
}